<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Tasty Treat Enquiry Form</title>
    <style>
      .container {
          margin-top: 10px;
      }
      .form-group {
        margin-top: 10px;
      }
      .fetch{
        margin-bottom: 10px;
      }
      </style>
      <script>
        if ( window.history.replaceState ) {
          window.history.replaceState( null, null, window.location.href );
        }
        </script>
</head>
<body>
    <div class="container card col-sm-6">
    <form action="/inquiry" method="POST">
        <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" name="name" required>
            </div>
          </div>
        <div class="form-group row">
          <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-6">
            <input type="email" class="form-control" name="inputEmail" required>
          </div>
        </div>
        <div class="form-group row">
            <label for="message" class="col-sm-2 col-form-label">Message</label>
            <div class="col-sm-6">
              <textarea type="text" class="form-control" name="message" ></textarea>
            </div>
          </div>
        
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" name="subscribeCheck" >
            <label class="form-check-label" for="subscribeCheck">Subscribe to Tasty Treat's newsletter</label>
          </div>
        <div class="form-group row">
          <div class="col-sm-6">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>
      <hr>
      <a href="/" > Back to home </a>
      <br>
      
</body>
</html>